<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="frostmage_tab" translate="label" sortOrder="600">
            <label>Frostmage Extensions</label>
        </tab>
        <section id="wbtpdc" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weight Based Tax</label>
            <tab>frostmage_tab</tab>
            <resource>Frostmage_WBTPDC::wbtpdc</resource>
            <group id="modifier" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Modifier</label>
                <field id="wbtpdc_value" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Value per Weight Unit</label>
                </field>
            </group>
        </section>
    </system>
</config>